<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Facebook starter app - @ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <div class="container h-100">
        @RenderBody()
    </div>
    <!-- Add scripts below this line -->
    <script src="~/vendor/jquery/dist/jquery.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <!-- <script src="~/vendor/popper.js/dist/popper.js"></script> -->

    @RenderSection("scripts", required: false)
</body>
</html>